* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  background-color: hsl(233, 47%, 7%);
  min-height: 130vh;
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

@media (min-width: 960px) {
  .App {
    min-height: 100vh;
  }
}
